Open page https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita

Select data from table "List of per capita nominal GDP for countries and dependencies"

Press "Ctrl+C"

In [32]:
import pandas as pd

frame_from_clipboard = pd.read_clipboard()

frame_from_clipboard.head(5)

,International Monetary Fund (2016)[4],World Bank (2015)[5],United Nations (2015)[6]
0,Rank,Country,US$
1,1,Luxembourg,"103,199"
2,2,Switzerland,"79,242"
3,3,Norway,"70,392"
4,—,Macau,"67,079"

In [33]:
frame_from_clipboard.columns = frame_from_clipboard.iloc[0]

In [52]:
frame_from_clipboard.head(10)

International Monetary Fund (2016)[4]  Rank         Country      US$
0                                      Rank         Country      US$
1                                         1      Luxembourg  103,199
2                                         2     Switzerland   79,242
3                                         3          Norway   70,392
4                                         —           Macau   67,079
5                                         4         Ireland   62,562
6                                         5           Qatar   60,787
7                                         6         Iceland   59,629
8                                         7   United States   57,436
9                                         8         Denmark   53,744

In [53]:
frame_from_clipboard.reindex(frame_from_clipboard.index.drop(0))

International Monetary Fund (2016)[4],Rank,Country,US$
1,1,Luxembourg,"103,199"
2,2,Switzerland,"79,242"
3,3,Norway,"70,392"
4,—,Macau,"67,079"
5,4,Ireland,"62,562"
6,5,Qatar,"60,787"
7,6,Iceland,"59,629"
8,7,United States,"57,436"
9,8,Denmark,"53,744"
10,9,Singapore,"52,961"
11,10,Australia,"51,850"
12,11,Sweden,"51,165"
13,12,San Marino,"46,447"
14,13,Netherlands,"45,283"
15,14,Austria,"44,498"
16,—,Hong Kong,"43,528"
17,15,Finland,"43,169"
18,16,Canada,"42,210"
19,17,Germany,"41,902"
20,18,Belgium,"41,283"
21,19,United Kingdom,"40,096"
22,20,Japan,"38,917"
23,21,New Zealand,"38,345"
24,22,France,"38,128"
25,23,United Arab Emirates,"37,678"
26,24,Israel,"37,262"
27,25,Italy,"30,507"
28,—,Puerto Rico,"29,697"
29,26,South Korea,"27,539"
30,27,Spain,"26,609"
...,...,...,...
162,157,Tanzania,970
163,158,Senegal,960
164,159,Yemen,938
165,160,Chad,852
166,161,Mali,830
167,162,Eritrea,823
168,163,Tajikistan,800
169,164,Ethiopia,795
170,165,Benin,771
171,166,Haiti,761
172,167,Comoros,753
173,168,Nepal,733
174,169,Rwanda,729
175,170,Guinea-Bissau,694
176,171,Burkina Faso,646
177,172,Uganda,638
178,173,Sierra Leone,618
179,174,Togo,590
180,175,Afghanistan,565
181,176,Guinea,515
182,177,"Congo, Democratic Republic of the",495
183,178,Liberia,480
184,179,"Gambia, The",469
185,180,Niger,411
186,181,Mozambique,392
187,182,Madagascar,391
188,183,Central African Republic,364
189,184,Burundi,325
190,185,Malawi,295
191,186,South Sudan,233